.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.tac {
    text-align: center;
}

.center {
    /* background-color: black; */
}

.center-warp {
    width: 1152px;
    margin: 0 auto;
}

.db {
    display: block;
}

.dlb {
    display: inline-block;
}