.site-head {
    height: 150px;
    background-color: aqua;
}

.site-head .topbar {
    line-height: 32px;
    height: 32px;
    background-color: beige;
}

.site-head .topbar .center .short-links {
    margin-left: 100px;
    float: left;
}

.site-head .topbar .center .short-links>ul>li {
    background-color: blueviolet;
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

.site-head .topbar .center .short-links>ul>li.have-menu {
    padding-right: 20px;
    position: relative;
}

.site-head .topbar .center .short-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transition: transform 1s ease 0s;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow b {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    transform: rotate(45deg);
    left: 2px;
    top: 2px;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow i {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: blueviolet;
    transform: rotate(45deg);
    left: 2px;
    top: 0px;
}