.site-head {
    height: 150px;
    background-color: aqua;
}

.site-head .topbar {
    line-height: 32px;
    height: 32px;
    background-color: beige;
}

.site-head .topbar .center .short-links {
    margin-left: 100px;
    float: left;
}

.site-head .topbar .center .short-links>ul>li {
    background-color: blueviolet;
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

.site-head .topbar .center .short-links>ul>li.have-menu {
    padding-right: 20px;
    position: relative;
}

.site-head .topbar .center .short-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transition: transform 1s ease 0s;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow b {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    transform: rotate(45deg);
    left: 2px;
    top: 2px;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow i {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: blueviolet;
    transform: rotate(45deg);
    left: 2px;
    top: 0px;
}

.main-nav {
    background-color: greenyellow;
    height: 40px;
}

.main-nav .select {
    margin-left: 100px;
}

.main-nav .center ul li {
    float: left;
    margin-right: 20px;
    line-height: 40px;
    position: relative;
}

.main-nav .center ul li.have-menu {
    padding-right: 20px;
}

.main-nav .center ul li.have-menu::before {
    content: "";
    width: 0px;
    height: 0px;
    /* background-color: hotpink; */
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0;
    border: 10px solid transparent;
    border-top-color: turquoise;
    border-bottom: none;
    /* transform: scale(180deg); */
    transition: transform 1s ease 0s;
    /* transform-origin: 50% 20%; */
}

.main-nav .center ul li.have-menu:hover::before {
    transform: rotate(180deg);
}

.head-con {
    height: 36px;
    padding: 21px 0;
}

.head-con .center {
    overflow: hidden;
    background-color: rebeccapurple;
    margin-left: 100px;
}

.head-con h1 {
    float: left;
    font-size: 24px;
    color: olivedrab;
    font-weight: bold;
    line-height: 36px;
}

.head-con .soso {
    /* margin-left: 40px; */
    float: left;
    margin-left: 20px;
}

.head-con .soso input {
    width: 363px;
    height: 30px;
    border: 1px solid forestgreen;
    border-radius: 4px 0 0 4px;
    outline: none;
    margin-top: 2px;
    padding-left: 10px;
}

.head-con .soso a {
    display: inline-block;
    width: 20px;
    margin-left: -6px;
    height: 20px;
    background-color: forestgreen;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 300px;
    background-color: yellowgreen;
}

.banner .center {
    width: 1152px;
    height: 100%;
    background-color: bisque;
    position: absolute;
    left: 50%;
    margin-left: -580px;
    top: 0%;
}

.banner .center .banner-nav {
    height: 100%;
}

.banner .center .banner-nav ul {
    height: 100%;
}

.banner .center .banner-nav ul li {
    height: 16.6%;
    width: 296px;
    background-color: aquamarine;
    /* background-image: linear-gradient(red black); */
    background-image: linear-gradient(red, yellow);
    /* background-image: linear-gradient() */
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.banner .center .banner-nav ul li:last-child {
    border-bottom: none;
}

.banner .center .banner-nav .btn-left {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: aqua;
    top: 50%;
    margin-top: -15px;
    left: 0;
    margin-left: -50px;
}

.banner .center .banner-nav .btn-right {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: aqua;
    top: 50%;
    margin-top: -15px;
    right: 0;
    margin-right: -50px;
}

.banner .center .banner-nav>ul>li {
    position: relative;
}

.banner .center .banner-nav ul li dl {
    position: absolute;
    height: 48px;
    top: 50%;
    /* background-color: aqua; */
    margin-left: 42px;
    margin-top: -24px;
    color: white;
    width: 100%;
}

.banner .center .banner-nav ul li dl dt {
    font-size: 14px;
    line-height: 26px;
}

.banner .center .banner-nav ul li dl dd {
    font-size: 14px;
    line-height: 22px;
}

.banner .center .banner-nav ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    background-color: black;
    height: 20px;
    margin-top: -10px;
}

.banner .center .banner-nav .menus-box .menu {
    background-color: blueviolet;
    position: absolute;
    left: 296px;
    height: 100%;
    width: 300px;
    top: 0;
    padding: 16px;
    box-sizing: border-box;
}

.banner .center .banner-nav .menus-box .menu dl dt {
    line-height: 30px;
    font-size: 16px;
}

.banner .center .banner-nav .menus-box .menu dl dd {
    line-height: 22px;
    font-size: 16px;
}

.hot-ad {
    margin-top: 32px;
    margin-bottom: 32px;
}

.hot-ad .center ul li {
    width: 250px;
    height: 100px;
    float: left;
    margin-right: 32px;
    background-color: aqua;
}

.hot-ad .center ul li:last-child {
    margin-right: 0px;
}

.xxsw {
    height: 738px;
    padding-top: 30px;
    background-color: #f7f7f7;
}

.xxsw .clearfix h2 {
    float: left;
    font-size: 36px;
    font-weight: bold;
}

.xxsw .clearfix em {
    float: left;
    position: relative;
    top: 16px;
    left: 10px;
}

.xxsw ul {
    margin-top: 30px;
}

.xxsw ul li {
    width: 264px;
    height: 270px;
    float: left;
    margin-right: 32px;
    margin-bottom: 30px;
    background-color: aqua;
}

.xxsw ul li:nth-child(4n) {
    margin-right: 0;
}

.xxsw ul li img {
    width: 264px;
    height: 200px;
    background-color: blanchedalmond;
}

.xxsw ul li .picbox div {
    padding: 15px;
    color: black;
    font-size: 14px;
}

.xxsw ul li:hover {
    /* border: 1px solid rebeccapurple; */
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}