.site-head {
    height: 150px;
    background-color: aqua;
}

.site-head .topbar {
    line-height: 32px;
    height: 32px;
    background-color: beige;
}

.site-head .topbar .center .short-links {
    margin-left: 100px;
    float: left;
}

.site-head .topbar .center .short-links>ul>li {
    background-color: blueviolet;
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

.site-head .topbar .center .short-links>ul>li.have-menu {
    padding-right: 20px;
    position: relative;
}

.site-head .topbar .center .short-links>ul>li.have-menu:hover .arrow {
    transform: rotate(180deg);
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    margin-top: -6px;
    transition: transform 1s ease 0s;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow b {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    transform: rotate(45deg);
    left: 2px;
    top: 2px;
}

.site-head .topbar .center .short-links>ul>li.have-menu .arrow i {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: blueviolet;
    transform: rotate(45deg);
    left: 2px;
    top: 0px;
}

.main-nav {
    background-color: greenyellow;
    height: 40px;
}

.main-nav .select {
    margin-left: 100px;
}

.main-nav .center ul li {
    float: left;
    margin-right: 20px;
    line-height: 40px;
    position: relative;
}

.main-nav .center ul li.have-menu {
    padding-right: 20px;
}

.main-nav .center ul li.have-menu::before {
    content: "";
    width: 0px;
    height: 0px;
    /* background-color: hotpink; */
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0;
    border: 10px solid transparent;
    border-top-color: turquoise;
    border-bottom: none;
    /* transform: scale(180deg); */
    transition: transform 1s ease 0s;
    /* transform-origin: 50% 20%; */
}

.main-nav .center ul li.have-menu:hover::before {
    transform: rotate(180deg);
}

.head-con {
    height: 36px;
    padding: 21px 0;
}

.head-con .center {
    overflow: hidden;
    background-color: rebeccapurple;
    margin-left: 100px;
}

.head-con h1 {
    float: left;
    font-size: 24px;
    color: olivedrab;
    font-weight: bold;
    line-height: 36px;
}

.head-con .soso {
    /* margin-left: 40px; */
    float: left;
    margin-left: 20px;
}

.head-con .soso input {
    width: 363px;
    height: 30px;
    border: 1px solid forestgreen;
    border-radius: 4px 0 0 4px;
    outline: none;
    margin-top: 2px;
    padding-left: 10px;
}

.head-con .soso a {
    display: inline-block;
    width: 20px;
    margin-left: -6px;
    height: 20px;
    background-color: forestgreen;
}